<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Branch-wise Gold Sales</h3>
            <button class="btn btn-primary" (click)="onDownload()">
              <i class="fas fa-download"></i> Download
            </button>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit()" id="form">
            <div class="row mb-3">
              <div class="col-3">
                <div class="form-group">
                  <label for="branch">Branch </label>
                  <select
                    class="form-control form-control-sm"
                    formControlName="branch"
                    id="branch"
                  >
                    <option [value]="''">All Branch</option>
                    <option
                      *ngFor="let branch of branchListViewModel.branchModelList"
                      [value]="branch.brcode"
                    >
                      {{ branch.branchName }}({{ branch.brcode }})
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="fromdate"
                    >From Date <span class="text-danger"> *</span></label
                  >
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    formControlName="fromdate"
                    id="fromdate"
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="todate"
                    >To Date <span class="text-danger"> *</span></label
                  >
                  <input
                    type="date"
                    class="form-control form-control-sm"
                    formControlName="enddate"
                    id="todate"
                  />
                </div>
              </div>
              <div class="col-3 mt-4 pt-1">
                <button class="btn btn-primary btn-sm rounded" type="submit">
                  Generate
                </button>
              </div>
            </div>
          </form>

          <!-- <div class="table-responsive">
            <table class="table">
             
            </table>
          </div> -->
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table
                  class="
                    table table-striped table-hover table-sm table-bordered
                  "
                    id="printDIV"
                >
                  <thead class="border-buttom">
                    <tr>
                      <th *ngFor="let header of hearders">{{ header }}</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!isLoading">
                    <tr *ngFor="let row of goldCmModelList">
                      <td>{{row.cmDate | date}}</td>
                      <td>{{row.cmNo}}</td>
                      <td>{{row.brCode}}</td>
                      <td>{{row.custName}}</td>
                      <td>{{row.address}}</td>
                      <td>{{row.phoneNo}}</td>
                      <td>{{row.adjGoldWt}}</td>
                      <td>{{row.adjGoldWt}}</td>
                      <td>{{row.totTaxableAmt}}</td>
                      <td>{{row.cashAmt}}</td>
                      <td>{{row.cCard.split('#')[0]}}</td>
                      <td>{{row.upi}}</td>
                      <td>{{row.gvoucher}}</td>
                      <td>{{row.customer}}</td>
                    </tr>
                    <tr>
                        <td colspan="8">Total</td>
                         <td>{{TotalAmount}}</td>
                         <td>{{TotalCash}}</td>
                         <td>{{TotalCard}}</td>
                         <td>{{TotalUpi}}</td>
                         <td>{{TotalVoucher}}</td>
                         <td>{{TotalOldGold}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-12 text-center" *ngIf="isLoading">
                  <h5>Loading...</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
