<!-- <div class="row">
  <div class="col-12">
    <app-total-count-information
      [month]="month"
      [branch]="branch"
      [thisMonthSales]="saleInfo"
    ></app-total-count-information>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-sales-analytics
      [month]="month"
      [branch]="branch"
      [thisMonthSales]="saleInfo"
    ></app-sales-analytics>
  </div>
  <div class="col-lg-8">
    <app-monthly-earning></app-monthly-earning>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-product-wise-sale></app-product-wise-sale>
  </div>
</div>
<div class="row" *ngIf="currentUser.role == 'Admin'">
  <div class="col-lg-6">
    <app-seles-ration-carat></app-seles-ration-carat>
  </div>
  <div class="col-lg-6">
    <app-top-branch></app-top-branch>
  </div>
</div>
<div class="row" *ngIf="!currentUser">
  <div class="col-12">
    <app-seles-ration-carat></app-seles-ration-carat>
  </div>
</div> -->
<div class="row">
  <div class="col-6">
    <img src="assets/images/dashbord.webp" alt="Dashboard Image">
  </div>
  <div class="col-6">
    <img src="assets/images/dashbord2.webp" alt="Dashboard Image">
  </div>
</div>

<div class="row">

</div>
