<nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li class="sidebar-item"
          *ngFor="let item of sidebarnavItems"
          [class.active]="showMenu === item.title">
  
        <!-- 🔹 No Submenu -->
        <a class="sidebar-link waves-effect waves-dark"
           *ngIf="item.submenu.length === 0"
           [routerLink]="[item.path]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">
          <i [ngClass]="item.icon"></i>
          <span class="hide-menu">{{ item.title }}</span>
        </a>
  
        <!-- 🔸 Has Submenu -->
        <a class="sidebar-link has-arrow waves-effect waves-dark"
           *ngIf="item.submenu.length > 0"
           href="javascript:void(0)"
           (click)="addExpandClass(item.title)">
          <i [ngClass]="item.icon"></i>
          <span class="hide-menu">{{ item.title }}</span>
        </a>
  
        <!-- 🔽 Submenu Level 1 -->
        <ul class="collapse first-level"
            *ngIf="item.submenu.length > 0"
            [ngClass]="{ 'in': showMenu === item.title }">
  
          <li class="sidebar-item"
              *ngFor="let subItem of item.submenu"
              [class.active]="showSubMenu === subItem.title">
  
            <!-- 🟡 Submenu without children -->
            <a class="sidebar-link"
               *ngIf="subItem.submenu.length === 0"
               [routerLink]="[subItem.path]"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">
              <i [ngClass]="subItem.icon"></i>
              <span class="hide-menu">{{ subItem.title }}</span>
            </a>
  
            <!-- 🟠 Submenu WITH children -->
            <a class="sidebar-link has-arrow"
               *ngIf="subItem.submenu.length > 0"
               href="javascript:void(0)"
               (click)="addActiveClass(subItem.title)">
              <i [ngClass]="subItem.icon"></i>
              <span class="hide-menu">{{ subItem.title }}</span>
            </a>
  
            <!-- 🔽 Submenu Level 2 -->
            <ul class="collapse second-level"
                *ngIf="subItem.submenu.length > 0"
                [ngClass]="{ 'in': showSubMenu === subItem.title }">
              <li class="sidebar-item"
                  *ngFor="let thirdItem of subItem.submenu">
                <a class="sidebar-link"
                   *ngIf="thirdItem.path"
                   [routerLink]="[thirdItem.path]"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">
                  <i [ngClass]="thirdItem.icon"></i>
                  <span class="hide-menu">{{ thirdItem.title }}</span>
                </a>
  
                <!-- Optional: disabled entry if no path -->
                <a class="sidebar-link disabled"
                   *ngIf="!thirdItem.path"
                   href="javascript:void(0)">
                  <i [ngClass]="thirdItem.icon"></i>
                  <span class="hide-menu">{{ thirdItem.title }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  