<div class="card">
  <div class="card-body">
    <h4 class="card-title">Top Five Fast-moving Product</h4>
    <div
      class="table-responsive scrollable mt-3"
      [perfectScrollbar]="config"
      style="height: 345px"
    >
      <div class="product border-top border-bottom">
        <div class="product-image">
          <!-- src\assets\images\product.svg -->
          <img src="assets/images/product.svg" alt="product" />
        </div>
        <div class="product-details">
          <h5 class="product-name">
            <a href="javascript:void(0)">
              <span>Product Name</span>
            </a>
          </h5>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="sales">
            <span class="sales-count">
                <i class="fa fa-shopping-cart mr-1"></i>
                <span>Sales</span>
            </span>
            <span class="sales-qty">
                
                <span>13245634</span>
            </span>
        </div>
      </div>
      <div class="product border-top border-bottom">
        <div class="product-image">
          <!-- src\assets\images\product.svg -->
          <img src="assets/images/product.svg" alt="product" />
        </div>
        <div class="product-details">
          <h5 class="product-name">
            <a href="javascript:void(0)">
              <span>Product Name</span>
            </a>
          </h5>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="sales">
            <span class="sales-count">
                <i class="fa fa-shopping-cart mr-1"></i>
                <span>Sales</span>
            </span>
            <span class="sales-qty">
                
                <span>13245634</span>
            </span>
        </div>
      </div>
      <div class="product border-top border-bottom">
        <div class="product-image">
          <!-- src\assets\images\product.svg -->
          <img src="assets/images/product.svg" alt="product" />
        </div>
        <div class="product-details">
          <h5 class="product-name">
            <a href="javascript:void(0)">
              <span>Product Name</span>
            </a>
          </h5>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="sales">
            <span class="sales-count">
                <i class="fa fa-shopping-cart mr-1"></i>
                <span>Sales</span>
            </span>
            <span class="sales-qty">
                
                <span>13245634</span>
            </span>
        </div>
      </div>
      <div class="product border-top border-bottom">
        <div class="product-image">
          <!-- src\assets\images\product.svg -->
          <img src="assets/images/product.svg" alt="product" />
        </div>
        <div class="product-details">
          <h5 class="product-name">
            <a href="javascript:void(0)">
              <span>Product Name</span>
            </a>
          </h5>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="sales">
            <span class="sales-count">
                <i class="fa fa-shopping-cart mr-1"></i>
                <span>Sales</span>
            </span>
            <span class="sales-qty">
                
                <span>13245634</span>
            </span>
        </div>
      </div>
      <div class="product border-top border-bottom">
        <div class="product-image">
          <!-- src\assets\images\product.svg -->
          <img src="assets/images/product.svg" alt="product" />
        </div>
        <div class="product-details">
          <h5 class="product-name">
            <a href="javascript:void(0)">
              <span>Product Name</span>
            </a>
          </h5>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="sales">
            <span class="sales-count">
                <i class="fa fa-shopping-cart mr-1"></i>
                <span>Sales</span>
            </span>
            <span class="sales-qty">
                
                <span>13234</span>
            </span>
        </div>
      </div>
      <div class="product border-top border-bottom">
        <div class="product-image">
          <!-- src\assets\images\product.svg -->
          <img src="assets/images/product.svg" alt="product" />
        </div>
        <div class="product-details">
          <h5 class="product-name">
            <a href="javascript:void(0)">
              <span>Product Name</span>
            </a>
          </h5>
          <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="sales">
            <span class="sales-count">
                <i class="fa fa-shopping-cart mr-1"></i>
                <span>Sales</span>
            </span>
            <span class="sales-qty">
                
                <span>13245634</span>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
