.icon {
  padding: 3px;
  background-color: #e0e9eb;
  width: 78px;
  height: 77px;
  display: flex;
  justify-content: center;
  border-radius: 66pc;
}
.d-flex1 {
  align-items: center;
  justify-content: space-between;
}

select.ng-touched.ng-invalid {
  border-color: red;
}
input.ng-touched.ng-invalid {
  border-color: red;
}
